# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.idea/
.vscode/

# Project specific
reports/
*.mp3
*.svg
!mock.tdb

# User requested
.kiro
